<footer class="app-footer">
  <div class="other-links" role="navigation">
    <ul class="links">
      <li><%= link_to "FAQ", "#" %></li>
      <li><%= link_to "Buku", "#" %></li>
      <li><%= link_to "Donasi", donate_path %></li>
      <li><%= link_to "Tentang Kami", "#" %></li>
      <li><%= link_to "Kebijakan Privasi", "#" %></li>
      <li><%= link_to "Syarat dan Ketentuan", "#" %></li>
      <li><%= link_to "Kontak Kami", contact_path %></li>
    </ul>
  </div>

  <p class="footer-text">
    &copy Kontes Terbuka Olimpiade Matematika 2015–<%= Time.zone.now.year %>
  </p>
</footer>
